/*
* id > hover > class
*/

h2:hover {
  color: red;
}

.subtitle {
  color: blue;
}

#about-me {
  color: green;
}

/*Every anchor tag that follows h1*/
h1 + a {
  color: green;
}

/*Every button after text area but both should be in the same parent*/
textarea ~ button {
  color: red;
}

/*Child selector - Direct clild*/
ul > li {
  color: blue;
}

/*Descendent selector - Doesnt need to be direct child*/
ul li {
  color: green;
}
