body {
}

#title,
.subtitle {
  color: rgb(255, 255, 0);
}

#test-image-div {
  height: 400px;
  width: 99%;
  background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 0);

  /* width height*/
  /* background-size: 90% 400px;  */

  /* cover fits the image just right so that it fits the div size 400px 99%*/
  /* contain resizes without messing with the proportion i.e. diagonaol elongation*/
  background-size: cover;
}
