/*Every anchor tag that follows h1*/
h1 + a {
  color: green;
}

/*Every button after text area but both should be in the same parent*/
textarea ~ button {
  color: red;
}

/*Child selector - Direct clild*/
ul > li {
  color: blue;
}

/*Descendent selector - Doesnt need to be direct child*/
ul li {
  color: green;
}

/*  
    ^ means path starts with and 
    $ means path ends with and 
    * means anywhere  
*/
img[src^="img/"] {
  border: 10px solid black;
}
